<div style="display: flex">
  <textarea type="text" placeholder="your feeed back !!! " class="form-control" name="message" [(ngModel)]="message">

  </textarea>
 &nbsp; &nbsp; &nbsp;
  <button class="btn btn-success" (click)="AddFeedBack()">
  Send 
  </button>
  &nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp; &nbsp;
  <a (click)="dissmiss()">
    x
  </a>
</div>

