<div class="row col-md-12 form" >
  <img [src]="profilepicUrl" width="60" height="60" align="left" style="  border-radius: 50%;" />
  &nbsp;&nbsp; <p style="font-size: 10px;margin-left: 2cm;" align="left" >{{firstname}} &nbsp; {{lastname}}</p>
  <br>
  <div align="left" class="col-md-12 ">
    {{content}}

  </div><br>
  <br>

  <div class="row" >
    <p style="font-size: 10px;color: #bababa" align="right"  >{{Date | dateTimeFormat}}</p>
    <hr>
     <div *ngFor="let x of Comments" class="col-md-12"  >
      <div style="display: flex">
        <img [src]="'http://localhost:3000/uploads/'+x.user.profilepicUrl" width="50px" height="50px">
        &nbsp;
        <p style="font-size: 14px">{{x.user.username}}&nbsp;&nbsp; {{x.user.lastname}}</p>

      </div>
       <div align="right" >
         <span class="example-spacer"></span>
         <button mat-icon-button [matMenuTriggerFor]="menu" [hidden]="currentuserid != x.user._id">
           <mat-icon>settings</mat-icon>
         </button>
         <mat-menu #menu="matMenu" >
             <button mat-menu-item (click)="openDialogUpdate(x._id,x.Content)" >
               <mat-icon>cached</mat-icon>
               <span>update comment </span>
             </button>
             <button mat-menu-item (click)="delete(x._id)">
                 <mat-icon>delete</mat-icon>
                 <span>delete comment </span>
               </button>
           </mat-menu>
       </div>


       <p align="left" style="font-size:12px">{{x.Content}}</p>
       <hr>
     </div>

    <br>

    <br>
    <input type="text" class="form-control" name="content" [(ngModel)]="message" cplaceholder="add your comment...">
    <br>
    <button class="btn btn-success" (click)="AddComment()">  Comment</button>
  </div>


</div>
