<div class="content" style="opacity: 0.8;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Blog</h4>
                        <p class="category" >
                      
                            <div class="row" style="margin: 1cm;">
                                <div class="col-md-12" >
                                  <label for="file-upload"  class="custom-file-upload">
                                    <mat-icon>assignment</mat-icon>
                              
                                    <label style="color:#fff;">Post an article</label>
                                  </label>
                              
                                  <input  type="button" class="btn btn-success" style="visibility: hidden"  (click)="openDialog()" id="file-upload" value="Upload your costum model"/>
                              
                                </div>
                              </div>
                    </div>




<div  class="row" style="margin-left: 2cm;">

  <div class="row col-md-12 post" *ngFor="let post of posts" >
    <div align="right">
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" [hidden]="currentuserid != post.user._id">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu" >
            <button mat-menu-item (click)="openDialogUpdate(post._id)" >
              <mat-icon>cached</mat-icon>
              <span>update post</span>
            </button>
            <button mat-menu-item (click)="delete(post._id)">
                <mat-icon>delete</mat-icon>
                <span>delete post</span>
              </button>
          </mat-menu>
     
    </div>
    <img [src]="URL+post.user.profilepicUrl" width="60" height="60" align="left" style="  border-radius: 50%;" />
    &nbsp;&nbsp; <p style="font-size: 10px;margin-left: 2cm;" align="left" >{{post.user.firstname}} &nbsp; {{post.user.lastname}}</p>
    <br>

    <div align="left" class="col-md-12 ">
      {{post.content}}

    </div><br>
    <br>

    <div class="row" style="padding: 10px;">
      <hr>
      <div class="col-md-6" style="font-size: 10px;" >
        <a [routerLink]="'/main/post/details/'+post._id">  <i  class="fas fa-comments fa-2x"></i>Add Comment</a>

      </div>



      <p style="font-size: 10px;" align="right" >{{post.Date | dateTimeFormat}}</p>
    </div>


 </div>

</div>
               </div>
               </div>
               </div>
               </div>
               </div>
               