<div class="row" style="margin-left: 2cm;">
  <div class="col-md-6  form">

      <button  class="btn btn-danger" (click)="Delete()">Delete Model</button>

     <br><br>
      <button class="btn btn-success">Print Model</button>

  </div>
  <div class="col-md-6">
      <div class="content" style="opacity: 0.8;">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
    <canvas    #myCanvas></canvas>
    
  </div>
  </div>
  </div>
  </div>
  </div>
                        
  </div>
</div>








