.login-page {
  width: 300px;



}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 200px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
