<div class="wrapper">
  <div class="sidebar" data-color="blue">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->


    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="" class="simple-text">
          3D Printer
        </a>
      </div>

      <ul class="nav" *ngFor="let tab of tabs;let i= index ">

        <li class="{{tab.isactive}}" (click)="selectTab(i)">
          <a routerLink="/main/{{tab.route}}">
            <i class="{{tab.icon}}"></i>
            <p>{{tab.tabname}}</p>
          </a>
        </li>


      </ul>
    </div>
  </div>

  <div class="main-panel">

    <mat-toolbar color="" style="margin-top: -3.40cm;">
      <mat-toolbar-row>

        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <button mat-menu-item>
            <mat-icon>notifications</mat-icon>
            <span>Notifications</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon></mat-icon>
            <span>logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>


    </mat-toolbar>

    <div style="margin-top: 1cm;">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
