<div class="example-container">
  <h1>  Post an article </h1>
  <mat-form-field>
    <textarea matInput placeholder="your text ..." name="content" [(ngModel)]="content" rows="6" cols="100">
    </textarea>
  </mat-form-field>
 <br>
  <button [disabled]="loading" mat-raised-button color="primary" (click)="post()">Post you article</button>
  <div *ngIf="loading"> <img src="../../../assets/images/loader.gif" width="25px"> please wait ... </div>
</div>

