<!--
<div class="row">
  <div class="col-md-12" >
   


  </div>
  <div class="row col-md-12" style="margin: 1cm;"   >

    <div class="col-md-6" >

      <div [hidden]="isLoaded">


        <img src="../../../assets/images/imageuploadeloader.gif">
       <p>Loading data from server ....</p>
      </div>
        <div class="form" [hidden]="!isLoaded">

          <mat-card style="display: flex;
          flex-direction:column;
         ">

            

          </mat-card>

      </div>
    </div>
  </div>


  </div>


-->
<div class="content" style="opacity: 0.8;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">3D Store</h4>
                        <input type="text" style="width:20%;" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch" #search>

                    </div>
                    <div class="content all-icons">
                        <div class="row">
                          <div *ngFor="let item of models | search: query" 
                          style="width:25%;"
                          class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6" >
                            <div class="font-icon-detail">
                                <img mat-card-image [src]="'http://localhost:3000/uploads/'+item.name" width="250px" height="250px" style="margin-right: 5px;">
                                <h4>{{item.imagename}}</h4><br>
                                <a>Category: {{item.category}}</a><br>
                           
                           <button class="btn btn-success" (click)="AddToMyCollection(item._id)">
                            <mat-icon>reply</mat-icon>    
                            Share
                          </button>
                            </div>
  
                          </div>
                     
                        </div>
  
  
                    </div>
                </div>
            </div>
  
        </div>


  