


    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h4 class="title">Edit Profile</h4>
                <p *ngIf="profilecompleted" style="color: #ff2e2e"> please complete your profile </p>
              </div>
              <div class="content">
                <form >
                  <div class="row">

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Username"   name="usernameiput" [(ngModel)]="usernameinput">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label >Email address</label>
                        <input type="email" class="form-control" placeholder="Email"   name="emailinput" [(ngModel)]="emailinput">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name"  name="firstnameinput" [(ngModel)]="firstnameinput">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name"   name="lastnameinput" [(ngModel)]="lastnameinput">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" value="{{address}}"  name="addressinput" [(ngModel)]="addressinput">
                      </div>
                    </div>
                  </div>
            


                  <div *ngIf="loading"> <img src="../../../assets/images/loader.gif" width="25px"> please wait ... </div>

                  <button  [disabled]="loading" type="button" class="btn btn-info btn-fill pull-right" (click)="updateprofile()">Update Profile</button>


                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
              </div>
              <div class="content">
                <div class="author">
                  <a href="#">
                    <img [hidden]="!loadimg" class="avatar border-gray" src="../../../assets/images/imageuploadeloader.gif" alt="..." >
                    <img class="avatar border-gray" [hidden]="loadimg"   src="{{profilepicUrl}}" alt="..."/>

                    <h4 class="title">{{firstname}}  {{lastname}}<br />
                      <small>Pseudo : {{username}}</small>
                    </h4>
                  </a>
                </div>
                <p class="description text-center">
                  Email : {{email}} <br>
                  Address : {{address}}<br><br>
                  <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i>Modifier la photo de profil
                  </label>
                <input type="file" class="btn btn-success"  id="file-upload" name="single" ng2FileSelect [uploader]="uploader" />

                  <br>
                </p>
              </div>
              <hr>
              <div class="text-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




