



<div class="example-container">
  <h3>Upload your 3D Model</h3>

  <mat-form-field>
    <input matInput placeholder="name of your model" name="name" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Categorie" name="category"   [(ngModel)]="category">
      <mat-option value="toy">toy</mat-option>
      <mat-option value="animal">animal</mat-option>
      <mat-option value="tool">tool</mat-option>
      <mat-option value="building">building</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="visibility" name="visibility"   [(ngModel)]="visibility">
      <mat-option value="private">private</mat-option>
      <mat-option value="shared">shared</mat-option>
   
    </mat-select>
  </mat-form-field>

    <button  mat-button (click)="fileInput.click()">
      <mat-icon>backup</mat-icon>
      <span>Select a file ..</span>
      <input #fileInput type="file"  accept=".stl" style="display:none;"  id="file-upload" name="single" ng2FileSelect [uploader]="uploader"/>
    </button>
  <br>

  <button [disabled]="loading" mat-raised-button color="primary" (click)="UploadSTL()">Upload </button>

  <div *ngIf="loading"> <img src="../../../assets/images/loader.gif" width="25px"> please wait while file uploading... </div>


</div>
