
<div class="example-container">
<h1>Create your account</h1>
  <p>Join Us</p>
<mat-form-field>
  <input matInput type="text" placeholder="Pseudo" name="username" [(ngModel)]="username" required/>
</mat-form-field>
  <mat-form-field>
    <input matInput type="email" (keyup)="validateE()" placeholder="Email" name="email" [(ngModel)]="email" required/>
  </mat-form-field>
  <div align="left"  [innerHTML]="emailcheck"></div>
  <mat-form-field>
    <input matInput type="password"  (keyup)="ckpassword()" placeholder="password" name="Password" [(ngModel)]="Password" required/>
  </mat-form-field>
  <div  align="left"  [innerHTML]="pwcheck"></div>
  <mat-form-field>
   <input matInput type="password" (keyup)="reckpassword()" placeholder="retype password" name="rePassword" [(ngModel)]="rePassword" required/>
  </mat-form-field>
  <div align="left"  [innerHTML]="repwcheck"></div>
  <button mat-raised-button color="primary" (click)="register()" [disabled]="loading">Register</button>
  <div align="center"  *ngIf="loading">
    <img src="../../assets/images/loader.gif" width="25px" >
  </div>
</div>
